/* CSS Document */
html,body,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,img,input,form,p,td,tr,
	section,footer,header,nav,article,figure,hgroup
	{padding:0;margin:0;}
body{color:#333;font:14px "微软雅黑","Simsun",Narrow;}
a{text-decoration:none;}
ul li,ol li{list-style:none;}
i em{font-style:normal;}
img{border:none;}
input{outline:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a:hover{color:red;}


